<%- include('./partials/header.ejs') %>
<main class="w-fit mx-auto">
  <header class="flex gap-3 font-bold text-3xl">
    <p><%= post.title %></p>
  </header>
  <article><%= post.content %></article>
</main>
<%- include('./partials/footer.ejs')%>
